[core]
	excludesfile = /home/kick/.gitignore_global
[user]
	email = mail@cengelsman.com
	name = Caswall Engelsman
[mergetool]
	path = nvim
[merge]
	tool = vimdiff
[mergetool "vimdiff"]
	path = nvim
[pull]
	rebase = false
