name = open-webui
command = /home/kick/.pyenv/versions/open-webui/bin/open-webui serve
environ = HOME=/home/kick,PATH=/usr/local/bin:/usr/bin:/bin:/usr/local/games:/usr/games:/opt/bin:/home/kick/.local/bin:/home/kick/.fzf/bin
